my_env/Lib/site-packages/fontTools/ttLib/tables/V_O_R_G_.py text eol=crlf
my_env/Lib/site-packages/fontTools/ttLib/tables/V_V_A_R_.py text eol=crlf
my_env/Lib/site-packages/fontTools/ttLib/tables/__init__.py text eol=crlf